### Go ##
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

### Redis ###
# Ignore redis binary dump (dump.rdb) files

*.rdb

### Svelte ###
# gitignore template for the SvelteKit, frontend web component framework
# website: https://kit.svelte.dev/

.svelte-kit/
package

### OpenCode ###
auth.json

### Various ###
*.log
.env*
